/* Global Error style
------------------------------------------ */

.global-error {
  $width: 240px;

  position: fixed;
  z-index: 2000;
  top: 0;
  left: 50%;
  width: $width;
  margin-left: -($width/2);
  padding: 30px 10px;
  background-color: $error;
  line-height: 25px;
  @include border-radius(0 0 4px 4px);
  @include box-shadow(0 0 7px 0px #aaa);

  display: none;
  &.show {
    display: block;
  }

  p {
    text-align: center;
    padding: 0px 7px;
    margin: 0 0 10px 0;
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    padding: 6px 13px;
    background-color: transparent;
    &:active {
      background-color: darken($error, 10%);
    }
  }
}
