.form {
  padding: 20px;
  &.center {
    text-align: center;
    .input {
      text-align: center;
    }
  }
}

.form-row {
  margin-bottom: 20px;
  &.form-row-error {
    .input {
      border-color: lighten($brown, 5%);
    }
  }

  .input {
    width: 100%;
  }
}

.input {
  border: 1px solid #ddd;
  padding: 14px 10px;
  -webkit-user-modify: read-write-plaintext-only;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  @include box-sizing(border-box);
  @include box-shadow(none);
  @include transition(border-color linear 0.3s);

  &:focus {
    outline: none;
    border: 1px solid #ccc;
  }
}

input[type=text],
input[type=password],
input[type=email],
input[type=number] {
  @include appearance(none);
}

select {
  background-color: #fff;
  &.input {
    height: 50px;
  }
  &.default {
    color: #bbb;
  }
}