@import 'variables';
@import 'mixins';
@import 'common';

html, body {
  -webkit-overflow-scrolling: touch;
  overflow-x: none;
  height: 100%;
}

body {
  background-color: #ccc;
  color: #555;
  font-size: 16px;
  @extend %flex-column;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: #555;
  &:hover {
    text-decoration: none;
  }
}

button, a {
  &:active, &:focus {
    outline: none;
  }
}

.main {
  width: 320px;
  margin: 0 auto;
  background-color: #fff;
  @include flex(1);
  @extend %flex-column;
}

.content {
  @include flex(1);
  @extend %flex-column;
}

@import 'error';
