@import 'variables';
@import 'mixins';
@import 'overrides';
@import 'common';

html, body {
  //-webkit-overflow-scrolling: touch;
  overflow-x: none;
  height: 100%;
}

body {
  background-color: #ccc;
  color: #555;
  font-size: 18px;
  @extend %flex-column;
}

@import 'error';
@import 'form';
@import 'button';
@import 'modal';

.main {
  width: 320px;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
  @include flex(1);
  @extend %flex-column;
}

.content {
  @include flex(1);
  @extend %flex-column;
}

.logo {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin: 70px 0 40px;
  color: darken($green, 5%);

  span, i {
    display: inline-block;
    vertical-align: middle;
  }

  span {
    &:first-of-type {
      margin-right: -2px;
    }
  }

  .q {
    width: 80px;
    height: 100px;
    background-image: inline-image('logo.png');
    background-repeat: no-repeat;
    background-position: center 0;
    @include background-size(100px 100px);
  }

  &.small {
    font-size: 30px;
    margin: 20px 0;
    .q {
      width: 50px;
      height: 60px;
      @include background-size(60px 60px);
    }
  }
}

/* Screen */
.screen {
  @include flex(1);
  @extend %flex-column;
  @extend %touch-scroll;
  max-width: 320px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
  position: relative;

  &.loading {
    @extend %loading;
  }

  & > .toolbar {
    @include flex(0 0 auto);
  }

  & > .list,
  & > .tab {
    @include flex(1);
    overflow-y: auto;
    @extend %touch-scroll;
  }

  & > .tab {
    position: relative;
    @extend %flex-column;

    & > .map {
      @include flex(1);
    }

    & > .map-actions {
      @include flex(0 0 auto);
      @extend %flex-row;
      .btn {
        text-transform: none;
        @include flex(1);
      }
    }

    & > .info {
      @include flex(0 0 auto);
      border-bottom: 1px solid #ddd;
    }
    & > .list {
      @include flex(1);
      overflow-y: auto;
      @extend %touch-scroll;
    }

  }

  &.quests {
    .toolbar {
      @extend %flex-column;

      .info-actions {
        @extend %flex-row;
        border-bottom: 1px solid #ddd;

        & > .status-text {
          @include flex(1);
          min-width: 100px;
        }
        & > .actions {
          @include flex(0 0 auto);
        }
      }

      .other-filters {
        @extend %flex-row;
        .search {
          @include flex(2);
          border-bottom: none;
        }
        .map-filter {
          @include flex(1);
        }
      }

      .map-filter {
        .input {
          width: 100%;
          border: none;
          background-color: #fff;
        }
      }

    }
  }

  &.about {
    p {
      text-align: center;
      margin: 5px 20px;
      padding: 0;
    }
  }
}
/* Map holder */
.map {
  position: relative;
  &.loading {
    @extend %loading;
  }
}

/* Screen header */
.header {
  @include flex(0 0 auto);
  background-color: $green;
  height: $header;
  position: relative;

  h1 {
    color: #fff;
    line-height: $header;
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    margin: 0 60px 0 40px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

/* Header menu */
.menu {
  position: absolute;
  z-index: 101;
  top: 0;
  right: 0;

  .menu-toggle {
    display: block;
    color: #fff;
    font-size: 30px;
    padding: 7px 0;
    width: 50px;
    border-left: 1px solid #ddd;
    text-align: center;
  }

  &.open {
    .menu-toggle {
      background-color: lighten($green, 10%);
    }
    ul {
      display: block;
    }
  }

  ul {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 102;
    @extend %menu;
  }
}

/* Toolbar on top */
.toolbar {
  border-bottom: 1px solid #ddd;
  @include flex-box();

  &.tabs {
    a {
      text-align: center;
      @include flex(1);
      &.active {
        background-color: #fff;
      }
    }
  }
}

/* Filter for quests */
.filter {
  position: relative;
  display: inline-block;
  margin-left: -5px;

  &.open {
    ul {
      display: block;
    }
  }
  ul {
    display: none;
    position: absolute;
    z-index: 100;
    top: 45px;
    right: 0;
    @extend %menu;

    .status-text {
      padding: 0;
      display: block;
      .status {
        float: right;
      }
    }
  }
}

/* Quest status as indicator and as text */
.status-text {
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
}

.status {
  display: inline-block;
  padding: 0 5px;

  &.running {
    color: #6aff23;
  }
  &.pending {
    color: #ffe14a;
  }
  &.finished {
    color: #ff0000;
  }
}

/* General list */
.list {
  li {
    border-bottom: 1px solid #ddd;
    p {
      padding: 10px;
      margin: 0;
    }
    a {
      display: block;
      .status {
        float: left;
      }
      .title {
        padding: 10px;
        margin-right: 40px;
        display: block;
      }
      .fa {
        width: 40px;
        text-align: center;
        float: right;
        padding: 12px 0;
      }
      .ranking {
        float: right;
        padding-top: 3px;
      }
    }
  }
}

/* search box */
.search {
  position: relative;
  border-bottom: 1px solid #ddd;

  .input,
  .search-icon {
    display: inline-block;
    vertical-align: middle;
  }
  .input {
    width: 100%;
    border-top: none;
    border-bottom: none;
  }

  .search-icon {
    right: 2px;
    color: #ccc;
  }
  .clear-icon {
    right: 4px;
    background-color: #eee;
    @include border-radius(16px);
  }

  .search-icon,
  .clear-icon {
    position: absolute;
    z-index: 1;
    top: 7px;
    display: block;
    width: 32px;
    padding: 7px 0px;
    text-align: center;
  }
}

/* Main content extended to support simple opacity animation */
.content-animate {
  &.ng-enter,
  &.ng-leave {
    @include transition(opacity linear 0.3s);
    opacity: 1;

    display: block;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: 1;
    }
  }

  &.ng-leave {
    opacity: 1;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}

.info-row {
  @extend %flex-row;
  border-bottom: 1px solid #eee;
  min-height: 40px;

  //.label,
  //.info {
  //  display: inline-block;
  //  vertical-align: middle;
  //}
  .label {
    @include flex(1);
    padding: 10px;
    border-right: 1px solid #eee;
  }
  .info {
    @include flex(2);
    h2 {
      padding: 11px 10px;
      margin: 0;
      font-size: 16px;
      font-weight: normal;
    }
    p {
      padding: 11px 10px;
      margin: 0;
      font-size: 16px;
    }
    .btn {
      .fa {
        &.to-right {
          float: right;
          margin-top: 2px;
        }
      }
    }
  }
}

.score,
.rank {
  display: block;
  padding: 10px;
  &.inline {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    min-width: 15px;
    text-align: center;
    font-weight: normal;
  }
}

.score {
  display: block;
  padding: 10px;
}

.rank {
  font-weight: bold;
  &.inline {
    @include border-radius(12px);
    background-color: $green;
    color: #fff;
    padding: 5px;
  }
}

.date {
  padding: 10px;
  display: block;
}

.action {
  .btn.block {
    font-size: 20px;
    padding: 16px 10px;
    margin: 10px auto;
    width: 90%;
  }
}

.share-actions {
  li {
    &:first-child {
      border-bottom: 1px solid #ddd;
    }
    a {
      display: block;
      padding: 10px;
      i, span {
        display: inline-block;
        vertical-align: middle;
      }
      i {
        font-size: 30px;
        color: $green;
        margin-right: 10px;
      }
    }
  }
}




