<div class="header">
    <h1>{{ title }}</h1>
    <div class="menu" ng-class="{open: view.menuOpen}">
        <a href class="menu-toggle" ng-click="toggleMenu()"><i class="fa fa-ellipsis-v"></i></a>
        <ul>
            <li><a ng-href="#/" ng-class="{active: title === 'Quests'}">Quests</a></li>
            <li><a ng-href="#/maps" ng-class="{active: title === 'Maps'}">Maps</a></li>
            <li><a ng-href="#/new-quest" ng-class="{active: title === 'New Quest'}">New Quest</a></li>
            <!--<li><a ng-href="#/profile/mine" ng-class="{active: title === 'Profile'}">Profile</a></li>-->
            <li><a ng-href="#/about" ng-class="{active: title === 'About'}">About</a></li>
            <li><a href ng-click="logout()">Sign Out</a></li>
        </ul>
    </div>
</div>