<div class="modal share">
    <div class="modal-content">

        <div class="modal-body">

            <ul class="share-actions">
                <li><a href ng-click="ok('fb')" class="fb"><i class="fa fa-facebook-square"></i> <span>Facebook</span></a></li>
                <li><a href ng-click="ok('tw')" class="tw"><i class="fa fa-twitter-square"></i> <span>Twitter</span></a></li>
            </ul>

            <div class="actions">
                <a href class="btn green block" ng-click="close()">Close</a>
            </div>

        </div>

    </div>
</div>