<header title="Participants"></header>

<div class="screen participants" ng-class="{loading: view.loading}">

    <div class="search">
        <input type="text" type="text" placeholder="Search..." class="input" ng-model="view.search.name" />
        <span class="search-icon"><i class="fa fa-search"></i></span>
        <a href ng-show="view.search" class="clear-icon" ng-click="clearSearch()"><i class="fa fa-times"></i></a>
    </div>

    <ul class="list">
        <li ng-repeat="participant in view.participants | filter:view.search">
            <a ng-href="#/profile/{{ participant.id }}">
                <i class="fa fa-chevron-right"></i>
                <div class="ranking">
                    <span class="score inline">{{ participant.score }} / {{ participant.path.length }}</span>
                    <span class="rank inline">{{ participant.rank }}</span>
                </div>
                <span class="title">{{ participant.name }}</span>
            </a>
        </li>
    </ul>

</div>