<header title="{{ view.quest.title }}"></header>

<div class="screen quest" ng-class="{loading: view.loading}">

    <div class="toolbar tabs">
        <a href class="btn block" ng-class="{active: view.tab === 'info'}" ng-click="switchTab('info')"><i class="fa fa-info"></i> Info</a>
        <a href class="btn block" ng-class="{active: view.tab === 'map'}" ng-click="switchTab('map')"><i class="fa fa-map-marker"></i> Map</a>
    </div>

    <div class="tab" ng-show="view.tab === 'info'">

        <div class="tab-body">
            <div class="info-row">
                <div class="label">Quest</div>
                <div class="info">
                    <h2>{{ view.quest.title }} ({{ view.quest.map_title }})</h2>
                </div>
            </div>

            <div class="info-row">
                <div class="label">Status</div>
                <div class="info">
                    <span class="status-text">{{ view.quest.status }} <span class="status {{ view.quest.status }}"><i class="fa fa-circle"></i></span></span>
                </div>
            </div>

            <div class="info-row">
                <div class="label">Start Date</div>
                <div class="info"><span class="date">{{ view.quest.start | date:'dd/MM/yyyy' }}</span></div>
            </div>

            <div class="info-row">
                <div class="label">Finish Date</div>
                <div class="info"><span class="date">{{ view.quest.finish | date:'dd/MM/yyyy' }}</span></div>
            </div>

            <div ng-if="view.quest.participant" class="info-row">
                <div class="label">Score</div>
                <div class="info">
                    <span class="score">{{ view.quest.participant_data.score }}</span>
                </div>
            </div>

            <div ng-if="view.quest.participant" class="info-row">
                <div class="label">Rank</div>
                <div class="info">
                    <span class="rank">{{ view.quest.participant_data.rank }}</span>
                </div>
            </div>

            <div ng-if="view.quest.participant" class="info-row">
                <div class="label">Share</div>
                <div class="info">
                    <a href class="btn block white" ng-click="shareResult()"><i class="fa fa-share-alt"></i></a>
                </div>
            </div>

            <div class="info-row">
                <div class="label">Participants</div>
                <div class="info">
                    <a ng-href="#/participants/{{ view.quest.id }}" class="btn block white">{{ view.quest.participants }} <i class="fa fa-chevron-right to-right"></i></a>
                </div>
            </div>

            <div class="info-row" ng-if="view.quest.status !== 'finished' && view.quest.participant">
                <div class="label">Rules</div>
                <div class="info">
                    <p>Just tap the area you claim you're in</p>
                </div>
            </div>

            <div class="action" ng-if="view.quest.status !== 'finished'">
                <button ng-if="!view.quest.participant" ng-click="join()" ng-disabled="view.saving" class="btn green block">Join</button>
                <button ng-if="view.quest.participant" ng-click="quit()" ng-disabled="view.saving" class="btn brown block">Quit</button>
            </div>
        </div>

    </div>
    <!-- # .tab - info -->

    <div class="tab" ng-show="view.tab === 'map'">

        <div class="map" map="view.map" quest="view.quest" is-open="view.tab === 'map'"></div>

        <div class="map-actions">
            <a href class="btn block" ng-click="showAll()"><i class="fa fa-arrows"></i> show all</a>
            <a href class="btn block" ng-click="getCurrentLocation()"><i class="fa fa-crosshairs"></i> location</a>
        </div>
    </div>
    <!-- # .tab - map -->

    <div ng-if="view.quest.participant" modal="modal-confirm" message="Are you sure you want to quit the quest?" modal-show="view.showModal.quit" handle="hideModal('quit')" handle-ok="confirmQuit()"></div>
    <div modal="modal-joined" message="Congrats! Now get out and conquer some places!" modal-show="view.showModal.join" handle-ok="hideModal('quit')"></div>
    <div modal="modal-hit" modal-show="view.showModal.hit" handle-ok="hideModal('hit')"></div>
    <div modal="modal-done" modal-show="view.showModal.done" handle-ok="hideModal('done')"></div>
    <div modal="modal-miss" modal-show="view.showModal.miss" handle-ok="hideModal('miss')"></div>
    <div modal="modal-share" modal-show="view.showModal.share" handle="hideModal('share')" handle-ok="initShare(attrs)"></div>

</div>